[{:id #uuid "18cf4994-dde6-46f2-9a3e-d233b55884a2"
  :name "Sapphire Las Vegas"
  :handle "18cf4994-sapphire-las-vegas"
  :address "3025 Sammy Davis Jr Dr, Las Vegas, NV 89109"
  :city "Las Vegas"
  :district "The Strip"
  :state "NV"
  :zipcode "89109"
  :country "USA"
  :county "Clark"
  :region "Southwest"
  :lat 36.1335
  :lon -115.1797
  :phone_number "(702) 796-6000"
  :website_url "https://www.sapphirelasvegas.com/"
  :twitter_url "https://twitter.com/sapphirelv"
  :instagram_url "https://www.instagram.com/sapphirelv/"
  :facebook_url "https://www.facebook.com/SapphireLasVegas"}
 {:id #uuid "2d4d3be1-2c78-4d64-867b-10cd1db2b238"
  :name "Spearmint Rhino Las Vegas"
  :handle "2d4d3be1-spearmint-rhino-las-vegas"
  :address "3340 S Highland Dr, Las Vegas, NV 89109"
  :city "Las Vegas"
  :district "The Strip"
  :state "NV"
  :zipcode "89109"
  :country "USA"
  :county "Clark"
  :region "Southwest"
  :lat 36.1294
  :lon -115.1840
  :phone_number "(702) 796-3600"
  :website_url "https://spearmintrhinolv.com/"
  :twitter_url "https://twitter.com/SpearmintRhino"
  :instagram_url "https://www.instagram.com/spearmintrhinolv/"
  :facebook_url "https://www.facebook.com/SpearmintRhinoLasVegas"}
 {:id #uuid "c310f1ce-7e48-4b94-8d76-df7e25df5f35"
  :name "Crazy Horse III"
  :handle "c310f1ce-crazy-horse-iii"
  :address "3525 W Russell Rd, Las Vegas, NV 89118"
  :city "Las Vegas"
  :district "Paradise"
  :state "NV"
  :zipcode "89118"
  :country "USA"
  :county "Clark"
  :region "Southwest"
  :lat 36.0840
  :lon -115.1830
  :phone_number "(702) 673-1700"
  :website_url "https://crazyhorse3.com/"
  :twitter_url "https://twitter.com/CrazyHorse3LV"
  :instagram_url "https://www.instagram.com/crazyhorse3lv/"
  :facebook_url "https://www.facebook.com/CrazyHorse3LV"}
 {:id #uuid "5db308a7-0dd5-41a1-b74c-bb4f3e03e46b"
  :name "Palomino Club"
  :handle "5db308a7-palomino-club"
  :address "1848 Las Vegas Blvd N, North Las Vegas, NV 89030"
  :city "North Las Vegas"
  :district "Downtown"
  :state "NV"
  :zipcode "89030"
  :country "USA"
  :county "Clark"
  :region "Southwest"
  :lat 36.1960
  :lon -115.1170
  :phone_number "(702) 642-2984"
  :website_url "https://palominolv.com/"
  :twitter_url "https://twitter.com/PalominoClubLV"
  :instagram_url "https://www.instagram.com/palominolv/"
  :facebook_url "https://www.facebook.com/PalominoClubLV"}
 {:id #uuid "4e7ae4e4-883b-4534-b5e1-180070faab9d"
  :name "Larry Flynt's Hustler Club"
  :handle "4e7ae4e4-larry-flynts-hustler-club"
  :address "6007 Dean Martin Dr, Las Vegas, NV 89118"
  :city "Las Vegas"
  :district "The Strip"
  :state "NV"
  :zipcode "89118"
  :country "USA"
  :county "Clark"
  :region "Southwest"
  :lat 36.0842
  :lon -115.1842
  :phone_number "(702) 795-3131"
  :website_url "https://vegashustlerclub.com/"
  :twitter_url "https://twitter.com/hustlerclublv"
  :instagram_url "https://www.instagram.com/hustlerclublv/"
  :facebook_url "https://www.facebook.com/vegashustlerclub"}
 {:id #uuid "b1a7c9e2-5d3a-4a8e-9f1b-2a6c4d9e5f1a"
  :name "Sapphire 60"
  :handle "b1a7c9e2-sapphire-60"
  :address "333 E 60th St, New York, NY 10022"
  :city "New York"
  :district "Upper East Side"
  :state "NY"
  :zipcode "10022"
  :country "USA"
  :county "New York"
  :region "Northeast"
  :lat 40.7615
  :lon -73.9619
  :phone_number "(212) 421-3600"
  :website_url "https://www.nysapphire.com/"
  :twitter_url "https://twitter.com/sapphirenyc"
  :instagram_url "https://www.instagram.com/sapphirenyc/"
  :facebook_url "https://www.facebook.com/SapphireNYC"}
 {:id #uuid "c2b8d0f3-6e4b-4b9f-8a2c-3b7d5e0f6a2b"
  :name "Rick's Cabaret New York"
  :handle "c2b8d0f3-ricks-cabaret-new-york"
  :address "50 W 33rd St, New York, NY 10001"
  :city "New York"
  :district "Midtown"
  :state "NY"
  :zipcode "10001"
  :country "USA"
  :county "New York"
  :region "Northeast"
  :lat 40.7484
  :lon -73.9884
  :phone_number "(212) 372-0850"
  :website_url "https://www.ricksnewyork.com/"
  :twitter_url "https://twitter.com/rickscabaretny"
  :instagram_url "https://www.instagram.com/rickscabaretny/"
  :facebook_url "https://www.facebook.com/RicksCabaretNewYork"}
 {:id #uuid "d3c9e1f4-7f5c-4cab-9b3d-4c8e6f1a7b3c"
  :name "FlashDancers Midtown"
  :handle "d3c9e1f4-flashdancers-midtown"
  :address "1674 Broadway, New York, NY 10019"
  :city "New York"
  :district "Midtown"
  :state "NY"
  :zipcode "10019"
  :country "USA"
  :county "New York"
  :region "Northeast"
  :lat 40.7624
  :lon -73.9838
  :phone_number "(212) 315-5107"
  :website_url "https://flashdancersnyc.com/"
  :twitter_url "https://twitter.com/flashdancersny"
  :instagram_url "https://www.instagram.com/flashdancersnyc/"
  :facebook_url "https://www.facebook.com/FlashDancersNYC"}
 {:id #uuid "e4d0f2a5-8a6d-4dbc-9c4e-5d9f7a2b8c4d"
  :name "Show Palace"
  :handle "e4d0f2a5-show-palace"
  :address "42-50 21st St, Long Island City, NY 11101"
  :city "Long Island City"
  :district "Queens"
  :state "NY"
  :zipcode "11101"
  :country "USA"
  :county "Queens"
  :region "Northeast"
  :lat 40.7527
  :lon -73.9422
  :phone_number "(718) 937-6969"
  :website_url "https://www.showpalaceny.com/"
  :twitter_url "https://twitter.com/showpalaceny"
  :instagram_url "https://www.instagram.com/showpalaceny/"
  :facebook_url "https://www.facebook.com/ShowPalaceNY"}
 {:id #uuid "f5e1a3b6-9b7e-4ecd-9d5f-6e0f8b3c9d5e"
  :name "Pumps Brooklyn"
  :handle "f5e1a3b6-pumps-brooklyn"
  :address "1080 Wyckoff Ave, Brooklyn, NY 11237"
  :city "Brooklyn"
  :district "Bushwick"
  :state "NY"
  :zipcode "11237"
  :country "USA"
  :county "Kings"
  :region "Northeast"
  :lat 40.7056
  :lon -73.9123
  :phone_number "(718) 386-5469"
  :website_url "https://www.pumpsbrooklyn.com/"
  :twitter_url "https://twitter.com/pumpsbrooklyn"
  :instagram_url "https://www.instagram.com/pumpsbrooklyn/"
  :facebook_url "https://www.facebook.com/PumpsBrooklyn"}
 {:id #uuid "b1a7c9e2-5d3a-4a8e-9f1b-2a6c4d9e5f1a"
  :name "Rick's Cabaret Chicago"
  :handle "b1a7c9e2-ricks-cabaret-chicago"
  :address "1531 N Kingsbury St, Chicago, IL 60642"
  :city "Chicago"
  :district "Lincoln Park"
  :state "IL"
  :zipcode "60642"
  :country "USA"
  :county "Cook"
  :region "Midwest"
  :lat 41.9109
  :lon -87.6536
  :phone_number "(312) 664-7400"
  :website_url "https://www.rickschicago.com/"
  :twitter_url "https://twitter.com/rickschicago"
  :instagram_url "https://www.instagram.com/rickschicago/"
  :facebook_url "https://www.facebook.com/rickschicago"}
 {:id #uuid "c2b8d0f3-6e4b-4b9f-8a2c-3b7d5e0f6a2b"
  :name "Admiral Theatre"
  :handle "c2b8d0f3-admiral-theatre"
  :address "3940 W Lawrence Ave, Chicago, IL 60625"
  :city "Chicago"
  :district "Albany Park"
  :state "IL"
  :zipcode "60625"
  :country "USA"
  :county "Cook"
  :region "Midwest"
  :lat 41.9680
  :lon -87.7260
  :phone_number "(773) 478-8111"
  :website_url "https://www.admiralx.com/"
  :twitter_url "https://twitter.com/admiraltheatre"
  :instagram_url "https://www.instagram.com/admiraltheatre/"
  :facebook_url "https://www.facebook.com/admiraltheatre"}
 {:id #uuid "d3c9e1f4-7f5c-4cab-9b3d-4c8e6f1a7b3c"
  :name "Deja Vu Showgirls"
  :handle "d3c9e1f4-deja-vu-showgirls"
  :address "750 S Clinton St, Chicago, IL 60607"
  :city "Chicago"
  :district "South Loop"
  :state "IL"
  :zipcode "60607"
  :country "USA"
  :county "Cook"
  :region "Midwest"
  :lat 41.8721
  :lon -87.6411
  :phone_number "(872) 766-5500"
  :website_url "https://dejavuchicago.com/"
  :twitter_url "https://twitter.com/dejavuchicago"
  :instagram_url "https://www.instagram.com/dejavuchicago/"
  :facebook_url "https://www.facebook.com/dejavuchicago"}
 {:id #uuid "e4d0f2a5-8a6d-4dbc-9c4e-5d9f7a2b8c4d"
  :name "Club 390"
  :handle "e4d0f2a5-club-390"
  :address "390 E Joe Orr Rd, Chicago Heights, IL 60411"
  :city "Chicago Heights"
  :district "South Suburbs"
  :state "IL"
  :zipcode "60411"
  :country "USA"
  :county "Cook"
  :region "Midwest"
  :lat 41.5103
  :lon -87.6256
  :phone_number "(708) 758-2582"
  :website_url "https://club390.com/"
  :twitter_url "https://twitter.com/club390"
  :instagram_url "https://www.instagram.com/club390/"
  :facebook_url "https://www.facebook.com/club390"}
 {:id #uuid "f5e1a3b6-9b7e-4ecd-9d5f-6e0f8b3c9d5e"
  :name "Polekatz Chicago"
  :handle "f5e1a3b6-polekatz-chicago"
  :address "7337 W 100th Pl, Bridgeview, IL 60455"
  :city "Bridgeview"
  :district "Southwest Suburbs"
  :state "IL"
  :zipcode "60455"
  :country "USA"
  :county "Cook"
  :region "Midwest"
  :lat 41.7082
  :lon -87.7986
  :phone_number "(708) 598-2222"
  :website_url "https://polekatz.com/"
  :twitter_url "https://twitter.com/polekatz"
  :instagram_url "https://www.instagram.com/polekatz_chicago/"
  :facebook_url "https://www.facebook.com/polekatzchicago"}]
