/target
/lib
/classes
/checkouts
pom.xml
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
.nrepl-port
/.clj-kondo/.cache/
/.clj-kondo/hiccup/
/.clj-kondo/metosin/
/.clj-kondo/rewrite-clj/
/.clj-kondo/com.github.seancorfield
/.lsp/.cache/
/.calva/output-window/
.idea
.vscode
/node_modules
/log
.DS_Store
.env
dev-config.edn