target/
lib/
classes/
checkouts/
pom.xml
test-config.edn
*.jar
*.class
.lein-*/
profiles.clj
.nrepl-port
.clj-kondo/*
!.clj-kondo/config.edn
.lsp/
.calva/
.idea
.vscode
.shadow-cljs/
.cpcache/
node_modules/
log/
resources/public/js/
.DS_Store
.env
.github