{:paths ["src/clj" "resources/dev/clj" 
         "src/cljs" "resources/dev/cljs"]
 :deps {thheller/shadow-cljs {:mvn/version "2.28.9"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        binaryage/devtools {:mvn/version "1.0.7"}}}