{:paths ["src/clj" "src/cljc" "src/cljs"
         "dev/clj" "dev/cljs"
         "test/clj" "test/cljs"
         "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}
        orchestra/orchestra {:mvn/version "2021.01.01-1"}
        mount/mount {:mvn/version "0.1.18"}
        thheller/shadow-cljs {:mvn/version "2.28.9"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        binaryage/devtools {:mvn/version "1.0.7"}
        ring/ring-jetty-adapter {:mvn/version "1.12.2"}
        ring/ring-defaults {:mvn/version "0.5.0"}
        metosin/reitit {:mvn/version "0.7.0"}
        com.datomic/local {:mvn/version "1.0.285"}
        tick/tick {:mvn/version "0.7.5"}
        com.taoensso/timbre {:mvn/version "6.5.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}
        com.wsscode/pathom3 {:mvn/version "2023.08.22-alpha"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner 
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
