{:deps true 
 :builds {:tia {:target :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:main {:entries [tia.core]}}
                :devtools {:before-load tia.core/stop
                           :after-load tia.core/start
                           :http-root "resources/public"
                           :http-port 8000
                           :preloads [devtools.preload]
                           :repl-init-ns user
                           :repl-pprint true}}}}